*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;
}

.container{
    display: flex;
    max-width: 100%;
    height: 100vh;
}

.box1{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.aside{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    width: 385px;
    height: 100vh;
}

.title{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 50px;
    flex-grow:0.001;
    align-items: center;
}

.title img{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    margin: 25px;
}

.title h1{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
    color: #ff8800;
}

.dashboard{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 30px;
    padding: 0px;
    margin-left: 24px;
    background: #ff8800;
    border-radius: 1.8vh;
    color: #fff;
}

.dashboard img{
    display: flex;
    width: 22px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.dashboard h1{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: center;
}

.dashboard:hover{
    cursor: pointer;
}

.main{
    display: flex;
    width: 100%;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 35px;
}

.main p{
    color: rgb(121, 121, 121);
}


.elements{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 18px;
    padding: 0px;
    margin-left: 24px;
    background: #ffffff;
    border-radius: 1.8vh;
}

.elements img{
    display: flex;
    width: 15px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.elements a{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}

.flecha1{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha1:hover{
    color: #949494;
}

.elements:hover{
    background: #dddddd8d;
    cursor: pointer;
    color: #000;
}

.charts{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 18px;
    padding: 0px;
    margin-left: 24px;
    background: #ffffff;
    border-radius: 1.8vh;
}

.charts img{
    display: flex;
    width: 15px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.charts a{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}

.flecha2{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha2:hover{
    color: #949494;
}

.charts:hover{
    background: #dddddd8d;
    cursor: pointer;
    color: #000;
}

.widgets{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 18px;
    padding: 0px;
    margin-left: 24px;
    background: #ffffff;
    border-radius: 1.8vh;
}

.widgets img{
    display: flex;
    width: 15px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.widgets a{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}

.widgets2{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha3{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha3:hover{
    color: #949494;
}

.widgets:hover{
    background: #dddddd8d;
    cursor: pointer;
    color: #000;
}

.table{
    display: flex;
    width: 100%;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 35px;
}

.table p{
    color: rgb(121, 121, 121);
}

.Tables{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 18px;
    padding: 0px;
    margin-left: 24px;
    background: #ffffff;
    border-radius: 1.8vh;
}

.Tables img{
    display: flex;
    width: 15px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.Tables a{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}

.flecha4{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha4:hover{
    color: #949494;
}

.Tables:hover{
    background: #dddddd8d;
    cursor: pointer;
    color: #000;
}

.Forms{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 40px;
    flex-grow:0.001;
    align-items: center;
    margin-top: 18px;
    padding: 0px;
    margin-left: 24px;
    background: #ffffff;
    border-radius: 1.8vh;
}

.Forms img{
    display: flex;
    width: 15px;
    height: auto;
    align-items: center;
    margin: 25px;
    justify-content: center;
}

.Forms a{
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
}

.flecha5{
    display: flex;
    margin-right: 5px;
    width: 3000px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: auto;
    color: #000000;
}

.flecha5:hover{
    color: #949494;
}

.Forms:hover{
    background: #dddddd8d;
    cursor: pointer;
    color: #000;
}

.Principal{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.header img{
    margin-left: 35px;
    margin-right: 30px;
}

.header img:hover{
    cursor: pointer;
}

.imagen1{
    width: 30px;
    height: auto;
}

.fondo{
    background: #e7e7e7;
    height: 100vh;
}

.Title2{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.Title2 h1{
    color: #000;
    font-size: 25px;
}

.texto{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.home{
    color: #ff8800;
}

.text{
    margin-left: 8px;
    color: #949494;
}

.cajas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.uno{
    display: flex;
    border-radius: 1vh;
    width: 200px;
    flex-direction: column;
    background: #ffffff;
}

.titulito{
    display: flex;
    flex-direction: row;
}

.titulito img{
    margin-top: 10px;
    margin-left: 110px;
    width: 22px;
    height: 24px;
}
.barra{
    width: 180px;
    height: 10px;
    background-color: #cbcbcb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 0 auto 10px auto;
}

.lleno1{
    height: 10px;
    background-color: #ff8800;
    border-radius: 5px;
}

.solo1{
    width: 40%;
}

.uno h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}


.dos{
    display: flex;
    border-radius: 1vh;
    width: 200px;
    flex-direction: column;
    background: #ffffff;
}

.dos h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.solo2{
    width: 60%;
}

.titulito2{
    display: flex;
    flex-direction: row;
}

.titulito2 img{
    margin-top: 10px;
    margin-left: 120px;
    width: 22px;
    height: 24px;
}

.tres{
    display: flex;
    border-radius: 1vh;
    flex-direction: column;
    width: 200px;
    background: #ffffff;
}

.tres h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}


.solo3{
    width: 30%;
}

.titulito3{
    display: flex;
    flex-direction: row;
}

.titulito3 img{
    margin-top: 10px;
    margin-left: 120px;
    width: 22px;
    height: 24px;
}

.cuatro{
    display: flex;
    border-radius: 1vh;
    width: 200px;   
    flex-direction: column;
    background: #ffffff;
}

.cuatro h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.textos{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 11px;
}

.solo4{
    width: 80%;
}

.titulito4{
    display: flex;
    flex-direction: row;
}

.titulito4 img{
    margin-top: 10px;
    margin-left: 120px;
    width: 22px;
    height: 24px;
}

.porcentaje{
    margin-top: -5px;
    font-size: 11px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.Sales{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

.relleno{
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-radius: 1vh;
}

.relleno h1{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

.relleno h2{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
}