.container{
    height: 100%;
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.box1{
    padding: 20px;
    flex-basis: 20%;
    background: rgb(197, 197, 197);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 400px;
}

.item{
    padding: 5px;
    font-size: 20px;
    font-family: Noto Sans;
}

.but{
    margin: 5px ; 
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #000;
    font-family: Noto Sans;
}

.but:hover{
    background: rgba(153, 0, 255, 0.306);
    transition: 1s;
}

.box2{
    padding: 20px;
    flex-basis: 20%;
    background: rgb(197, 197, 197);
    display: flex;
    justify-content: space-between;
    align-items: start ;
    flex-direction: row;
    width: 400px;
    margin-top: 5px;
}

.item2{
    padding: 10px;
    font-size: 20px;
    font-family: Noto Sans;
}

.but2{
    margin: 10px 5px 0 0 ;
    text-decoration: none;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #000;
    font-family: Noto Sans;
}

.but2:hover{
    background: rgba(153, 0, 255, 0.306);
    transition: 1s;
}

.box3{
    padding: 20px;
    flex-basis: 20%;
    background: rgb(197, 197, 197);
    display: flex;
    justify-content: space-between;
    align-items: start ;
    flex-direction: row;
    width: 400px;
    margin-top: 5px;
}

.item3{
    padding: 10px;
    font-size: 20px;
    font-family: Noto Sans;
}

.but3{
    margin: 5px ;
    text-decoration: none;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #000;
    font-family: Noto Sans;
}

.but3:hover{
    background: rgba(153, 0, 255, 0.306);
    transition: 1s;
}

.box4{
    padding: 20px;
    flex-basis: 20%;
    background: rgb(197, 197, 197);
    display: flex;
    justify-content: space-between;
    align-items: start ;
    flex-direction: row;
    width: 400px;
    margin-top: 5px;
}

.item4{
    padding: 10px;
    font-size: 20px;
    font-family: Noto Sans;
}

.but4{
    margin: 5px ; 
    text-decoration: none;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #000;
    font-family: Noto Sans;
}

.but4:hover{
    background: rgba(153, 0, 255, 0.306);
    transition: 1s;
}